In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/dataset_Facebook - dataset_Facebook.csv")
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [ ]:
a=["Paid","like","share"]
for i in a:
  data=data.fillna(data[i].mean)
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,<bound method NDFrame._add_numeric_operations....,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [ ]:
data.corr()

<ipython-input-31-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,Total Interactions
Page total likes,1.000000,-0.091142,0.941192,-0.005401,-0.143807,-0.083245,-0.102540,-0.111922,-0.149129,-0.128240,-0.096109,-0.060516,0.033699,0.031891,0.045231
Category,-0.091142,1.000000,-0.127690,-0.053239,-0.107383,-0.142073,-0.094368,0.003392,-0.031172,-0.149443,-0.047803,-0.104456,0.021569,0.027842,0.127307
Post Month,0.941192,-0.127690,1.000000,0.017050,-0.176390,-0.102506,-0.101616,-0.115898,-0.147083,-0.142829,-0.094624,-0.092012,0.010956,0.006174,0.018362
Post Weekday,-0.005401,-0.053239,0.017050,1.000000,0.045857,-0.050155,-0.033674,-0.048382,-0.029602,-0.021565,-0.046442,-0.068741,0.001144,-0.077209,-0.081049
Post Hour,-0.143807,-0.107383,-0.176390,0.045857,1.000000,0.003338,0.012747,0.003879,0.012222,0.078759,0.038892,0.052412,0.038011,0.000922,-0.027421
Lifetime Post Total Reach,-0.083245,-0.142073,-0.102506,-0.050155,0.003338,1.000000,0.694926,0.570629,0.477908,0.324362,0.322254,0.743053,0.400756,0.427155,0.538597
Lifetime Post Total Impressions,-0.102540,-0.094368,-0.101616,-0.033674,0.012747,0.694926,1.000000,0.368553,0.315201,0.226081,0.850787,0.651933,0.323843,0.316612,0.343358
Lifetime Engaged Users,-0.111922,0.003392,-0.115898,-0.048382,0.003879,0.570629,0.368553,1.000000,0.968213,0.676840,0.260346,0.612080,0.839279,0.505806,0.572159
Lifetime Post Consumers,-0.149129,-0.031172,-0.147083,-0.029602,0.012222,0.477908,0.315201,0.968213,1.000000,0.706666,0.222941,0.503847,0.813510,0.334621,0.354502
Lifetime Post Consumptions,-0.128240,-0.149443,-0.142829,-0.021565,0.078759,0.324362,0.226081,0.676840,0.706666,1.000000,0.164813,0.355389,0.577262,0.261195,0.238082
Lifetime Post Impressions by people who have liked your Page,-0.096109,-0.047803,-0.094624,-0.046442,0.038892,0.322254,0.850787,0.260346,0.222941,0.164813,1.000000,0.584225,0.309800,0.242484,0.250083
Lifetime Post reach by people who like your Page,-0.060516,-0.104456,-0.092012,-0.068741,0.052412,0.743053,0.651933,0.612080,0.503847,0.355389,0.584225,1.000000,0.648701,0.472351,0.617929
Lifetime People who have liked your Page and engaged with your post,0.033699,0.021569,0.010956,0.001144,0.038011,0.400756,0.323843,0.839279,0.813510,0.577262,0.309800,0.648701,1.000000,0.425945,0.492570
comment,0.031891,0.027842,0.006174,-0.077209,0.000922,0.427155,0.316612,0.505806,0.334621,0.261195,0.242484,0.472351,0.425945,1.000000,0.864944
Total Interactions,0.045231,0.127307,0.018362,-0.081049,-0.027421,0.538597,0.343358,0.572159,0.354502,0.238082,0.250083,0.617929,0.492570,0.864944,1.000000

In [ ]:
subset1=data.loc[:80,["Type","Category","Post Month"]]
subset1

      Type  Category  Post Month
0    Photo         2          12
1   Status         2          12
2    Photo         3          12
3    Photo         2          12
4    Photo         2          12
..     ...       ...         ...
76   Photo         1          11
77   Photo         1          11
78   Photo         2          11
79   Photo         1          11
80  Status         2          11

[81 rows x 3 columns]

In [ ]:
subset2=data.loc[81:160,["Type","Category","Post Month"]]
subset2

       Type  Category  Post Month
81    Photo         3          11
82    Photo         1          11
83    Photo         3          11
84   Status         3          11
85    Photo         1          11
..      ...       ...         ...
156   Photo         2           9
157   Photo         3           9
158   Photo         2           9
159   Photo         2           9
160   Photo         3           9

[80 rows x 3 columns]

In [ ]:
row=pd.concat((subset1,subset2))
row

       Type  Category  Post Month
0     Photo         2          12
1    Status         2          12
2     Photo         3          12
3     Photo         2          12
4     Photo         2          12
..      ...       ...         ...
156   Photo         2           9
157   Photo         3           9
158   Photo         2           9
159   Photo         2           9
160   Photo         3           9

[161 rows x 3 columns]

In [ ]:
subset3=data.loc[:50,["Post Month","Post Weekday","like"]]
subset3

    Post Month  Post Weekday    like
0           12             4    79.0
1           12             3   130.0
2           12             3    66.0
3           12             2  1572.0
4           12             2   325.0
5           12             1   152.0
6           12             1   249.0
7           12             7   325.0
8           12             7   161.0
9           12             6   113.0
10          12             5   233.0
11          12             5    88.0
12          12             5    90.0
13          12             5   137.0
14          12             4   577.0
15          12             3    86.0
16          12             3    40.0
17          12             2   678.0
18          12             2    54.0
19          12             1    34.0
20          12             1    66.0
21          12             7     0.0
22          12             7    16.0
23          12             7    72.0
24          12             6    99.0
25          12             6    88.0
26          12             5   412.0
27          12             5   100.0
28          12             5   523.0
29          12             4   143.0
30          12             4   107.0
31          12             3    27.0
32          12             3   155.0
33          12             2    98.0
34          12             2    56.0
35          12             1   172.0
36          12             1    96.0
37          12             7    76.0
38          12             7   227.0
39          12             7    44.0
40          12             6   216.0
41          12             6   187.0
42          12             5    26.0
43          12             5    29.0
44          12             4    47.0
45          12             4    57.0
46          12             3   174.0
47          12             3    18.0
48          12             2    77.0
49          12             2    12.0
50          11             1    48.0

In [ ]:
subset4=data.loc[:50,["like","share","comment"]]
subset4

      like  share  comment
0     79.0   17.0        4
1    130.0   29.0        5
2     66.0   14.0        0
3   1572.0  147.0       58
4    325.0   49.0       19
5    152.0   33.0        1
6    249.0   27.0        3
7    325.0   14.0        0
8    161.0   31.0        0
9    113.0   26.0        3
10   233.0   19.0        0
11    88.0   18.0        0
12    90.0   14.0        0
13   137.0   10.0        5
14   577.0   20.0        2
15    86.0   18.0        4
16    40.0   12.0        2
17   678.0   20.0       15
18    54.0   17.0        4
19    34.0    8.0        0
20    66.0   12.0        3
21     0.0    0.0        0
22    16.0    2.0        0
23    72.0   24.0        0
24    99.0   19.0        3
25    88.0   18.0        0
26   412.0   72.0       10
27   100.0   17.0        0
28   523.0   63.0       36
29   143.0   13.0       18
30   107.0   22.0       33
31    27.0   11.0        1
32   155.0   47.0        2
33    98.0   23.0        4
34    56.0   17.0        2
35   172.0   21.0        6
36    96.0   17.0        0
37    76.0    8.0       16
38   227.0   31.0       11
39    44.0   14.0        1
40   216.0   39.0        7
41   187.0   18.0        6
42    26.0    3.0        7
43    29.0   10.0        7
44    47.0   11.0        0
45    57.0   10.0        4
46   174.0   36.0        4
47    18.0    8.0        6
48    77.0   15.0        0
49    12.0    1.0        1
50    48.0    9.0        1

In [ ]:
col=pd.merge(subset3,subset4,on="like")
col

    Post Month  Post Weekday    like  share  comment
0           12             4    79.0   17.0        4
1           12             3   130.0   29.0        5
2           12             3    66.0   14.0        0
3           12             3    66.0   12.0        3
4           12             1    66.0   14.0        0
5           12             1    66.0   12.0        3
6           12             2  1572.0  147.0       58
7           12             2   325.0   49.0       19
8           12             2   325.0   14.0        0
9           12             7   325.0   49.0       19
10          12             7   325.0   14.0        0
11          12             1   152.0   33.0        1
12          12             1   249.0   27.0        3
13          12             7   161.0   31.0        0
14          12             6   113.0   26.0        3
15          12             5   233.0   19.0        0
16          12             5    88.0   18.0        0
17          12             5    88.0   18.0        0
18          12             6    88.0   18.0        0
19          12             6    88.0   18.0        0
20          12             5    90.0   14.0        0
21          12             5   137.0   10.0        5
22          12             4   577.0   20.0        2
23          12             3    86.0   18.0        4
24          12             3    40.0   12.0        2
25          12             2   678.0   20.0       15
26          12             2    54.0   17.0        4
27          12             1    34.0    8.0        0
28          12             7     0.0    0.0        0
29          12             7    16.0    2.0        0
30          12             7    72.0   24.0        0
31          12             6    99.0   19.0        3
32          12             5   412.0   72.0       10
33          12             5   100.0   17.0        0
34          12             5   523.0   63.0       36
35          12             4   143.0   13.0       18
36          12             4   107.0   22.0       33
37          12             3    27.0   11.0        1
38          12             3   155.0   47.0        2
39          12             2    98.0   23.0        4
40          12             2    56.0   17.0        2
41          12             1   172.0   21.0        6
42          12             1    96.0   17.0        0
43          12             7    76.0    8.0       16
44          12             7   227.0   31.0       11
45          12             7    44.0   14.0        1
46          12             6   216.0   39.0        7
47          12             6   187.0   18.0        6
48          12             5    26.0    3.0        7
49          12             5    29.0   10.0        7
50          12             4    47.0   11.0        0
51          12             4    57.0   10.0        4
52          12             3   174.0   36.0        4
53          12             3    18.0    8.0        6
54          12             2    77.0   15.0        0
55          12             2    12.0    1.0        1
56          11             1    48.0    9.0        1

In [ ]:
td=data.transpose()
td

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,<bound method NDFrame._add_numeric_operations....
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [ ]:
ao=data.sort_values(by=['comment'])
ao

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,<bound method NDFrame._add_numeric_operations....,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,<bound method NDFrame._add_numeric_operations....,<bound method NDFrame._add_numeric_operations....,0
276,126424,Photo,3,7,3,4,1.0,2316,3611,722,716,862,2545,1529,372,0,25.0,5.0,30
282,126345,Status,2,6,7,11,0.0,12044,20327,2240,2193,3599,17717,10400,2119,0,104.0,13.0,117
286,126141,Photo,1,6,5,11,1.0,2431,4180,389,383,7980,3963,2301,342,0,15.0,3.0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0,456
288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [ ]:
pdata = data[["like","share","Category","Type"]]

p=pdata.pivot_table(index=["Category","Type"])

p

<ipython-input-44-9b9395c3bba5>:3: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  p=pdata.pivot_table(index=["Category","Type"])

Empty DataFrame
Columns: []
Index: [(1, Link), (1, Photo), (1, Status), (1, Video), (2, Link), (2, Photo), (2, Status), (3, Link), (3, Photo), (3, Status)]